/* App colors */
/* Background green = #d0dbcb  */
/* Polaroid color = #efefee */
/* Title colors are just black */
/* Dark grey text = #5a5a5a */
/* About us block color =  #999999 */
/* Dark green for border box and submit buttons = #acbfa3 */

.login {
    text-align: center;
}

.login-box {
    border: solid;
    border-color: #acbfa3;
    width: 50%;
    height: 300px;
}

input {
    height: 40px;
    width: 80%; 
    margin-top: 30px;
}

.community {
    color: #5a5a5a;
}

a:visited {
    color: #5a5a5a;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #acbfa3;
}

.submit-btn {
    background-color: #acbfa3;
    border: none;
    border-radius: 5px;
    width: 200px;
    color: white;
    height: 40px;
    margin-top: 40px;
}

.submit-btn:hover {
    background-color: #999999;
}

.signup {
    text-align: center;
}

.signup-box {
    border: solid;
    border-color: #acbfa3;
    width: 50%;
    height: 300px;
}

.trainers {
    text-align: center;
}

.trainers-card {
    border: solid;
    border-color: #999999;
    width: 300px;
    height: 400px;
    margin: 0, 20px, 20px, 20px;
    background-color: #efefee;
}

.trainer-container {
    display: flex;
    float: left;
    flex-wrap: wrap;
}

.trainers-title {
    margin-bottom: 30px;
}

.img-container {
    border: solid;
    margin: 10px;
    border-color: #999999;
    width: 275px;
    height: 200px;
    align-items: center;
}

.trainers-card:hover {
    transform: scale(1.05);
}

.shop {
    text-align: center;
}

.products-card {
    border: solid;
    border-color: #999999;
    width: 300px;
    height: 400px;
    margin: 0, 20px, 20px, 20px;
    background-color: #efefee;
    position:relative;
}

.products-container {
    display: flex;
    float: left;
    flex-wrap: wrap;
}

.shop-title {
    margin-bottom: 30px;
}

.img-container {
    border: solid;
    margin: 10px;
    border-color: #999999;
    width: 275px;
    height: 200px;
    align-items: center;
}

.cart-btn {
    background-color: #acbfa3;
    border: none;
    border-radius: 5px;
    width: 200px;
    color: white;
    height: 40px;
}

.cart-btn:hover {
    background-color: #999999;
}